# Server
NODE_ENV=production
PORT=5000

# Database
DATABASE_URL=postgresql://postgres:mnYOOQZAdAnJjJiETnmjropTaMlaiHvu@postgres.railway.internal:5432/railway

# JWT
JWT_SECRET=!&Supasecret37example27@&

# AI Service
AI_SERVICE_URL=https://careercraft-ai-dxvo.onrender.com

# Frontend
FRONTEND_URL=https://your-frontend.vercel.app
